.df{
    display: flex;
}
.fl-d-c{
    flex-direction: column;
}
.justify-c-c{
    justify-content: center;
}
.justify-c-space{
    justify-content: space-between;
}
.align-i-c{
    align-items: center;
}
.back{
    background: #4f4f4f;
}
.fnt-s{
    font-size: 40px;
}
.clr{
    color: #a85555;
}
.c-g{
    column-gap: 10px;
}
.r-g{
    row-gap: 10px;
}
.w100{
    width: 100px;
}
.w400{
    width: 400px;
}
.h100{
    height: 100px;
}
.h300{
    flex-basis: 300px;
}
.w510{
    width: 510px;
}
.h210{
    flex-basis: 210px;
}
.w290{
    width: 290px;
}
@media screen and (min-width: 0px) and (max-width: 900px) {
    .df.justify-c-space.align-i-c.c-g.r-g{
        flex-direction: column;
    }
    .df.fl-d-c.r-g.h{
        flex-direction: row;
        column-gap: 10px;

    }
    .df.fl-d-c.r-g.t{
        flex-direction: row;
        column-gap: 10px;
    }
    .df.fl-d-c.r-g.g{
        flex-direction: row;
        column-gap: 10px;

    }
    .df.justify-c-c.align-i-c.back.w100.h300.clr.fnt-s{
        width: 290px;
    }
    .df.justify-c-c.align-i-c.back.w100.h210.clr.fnt-s{
        height: 100px;
        width: 210px;
    }
    .df.justify-c-c.align-i-c.back.w290.h210.clr.fnt-s{
        height: 300px;
        width: 210px;
    }

}
