body{
    margin: 0;
}
h1{
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 900px;
    background: #980000;
}
.l2{
    overflow: hidden;
    box-sizing: border-box;
    background: darkgray;
    text-align: left;
    padding: 10px;
}
.l3{
    overflow: hidden;
    box-sizing: border-box;
    background: cornflowerblue;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box1{
    width: 200px;
    height: 200px;
    background: #198119;
}
.box2{
    width: 250px;
    height: 250px;
    background: #09467c;
    border-radius: 15px;
}
