.all{
    display: flex;
    flex-direction: column;
    width: 1300px;
    justify-content: center;
}
*{
    font-family: Roboto;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 32px 14px 36px;
}
.sprig_formerly{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formerly{
    font-size: 14px;
}
.head_center{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    font-size: 16px;
}
.head_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    font-size: 16px;
}
.Start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 54px;
    background: #0e4461;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu1_left{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-bottom: 250px;
    row-gap: 32px;
}
.h2{
    width: 436px;
    height: 256px;
    display: flex;
    font-size: 60px ;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.Ensure {
    box-sizing: border-box;
    width: 435px;
    height: 96px;
    font-size: 22px;
    color: #375361;
}
.Start_for{
    width: 163px;
    height: 54px;
    background: #f9c600;
    border-radius: 4px;
    cursor: pointer;
}
.Talk{
    margin-left: 10px;
    width: 156px;
    height: 54px;
    border: 1px solid #0B2330;
    border-radius: 4px;
    cursor: pointer;
}
.menu1_right{
    display: flex;
}
.Yellow{
    display: flex;
    width: 600px;
    height: 886px;
}
.overyellow{
    width: 608px;
    height: 541px;
    position: relative;
    top: 100px;
    right: 700px;
}
.Trusted{
    display: flex;
    text-align: center;
    width: 547px;
    height: 96px;
    font-size: 42px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 376.5px;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1100px;
    column-gap: 57px   ;
    margin-left: 100px;
    margin-top: 30px;
}
.Frame{
    display: flex;
    justify-content: space-between;
    width: 1276px;
    height: 494px;
    background: #51cebc;
    margin-left: 32px;
    margin-top: 192px;
}
.Frame_right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 115px;
    row-gap: 34px;
}
.Modern{
    font-size: 34px;
}
.So_teams{
    font-size: 22px;
}
.Sprig_makes{
    margin-top: 191px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 34px;
    width: 611px;
    margin-left: 344.5px;
}
.onboarding{
    display: flex;
    justify-content: center;
    margin-top: 57px;
}
.buttom_start{
    display: flex;
    justify-content: center;
    margin-top: 113px;
}
.menu_target{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #BD78F0;
    width: 1150px;
    height: 537px;
    margin-left: 148px;
    margin-top: 160px;
}
.targer_left{
    display: flex;
    position: relative;
    right: 116px;
}
.target_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 35px;
    margin-right: 116px;
}
.target_your{
    font-size: 42px;
    width: 485px;
}
.get{
    font-size: 17px;
    width: 550px;
}
.Solutions{
    display: flex;
    flex-direction: column;
    margin-top: 136px;
    margin-left: 148px;
    row-gap: 16px;
}
.Solut{
    font-size: 14px;
    color: #6A7981;
}
.How{
    width: 593px;
    font-size: 42px;
}
.and_helps{
    color: #375361;
    font-size: 22px;
}
.menu2{
    display: flex;
    flex-direction: column;
    row-gap: 121px;
    margin-top: 173px;
    margin-left: 148px;
}
.menu2all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 134px;
}
.message{
    display: flex;
    background: #BD78F0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.Context{
    font-size: 34px;
    margin-top: 23px;
}
.keep{
    font-size: 17px;
    width: 484px;
    margin-top: 25px;
    color: #375361  ;
}
.Lear_more{
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    width: 144px;
    height: 44px;
    margin-top: 40px;
    cursor: pointer;
}
.message2{
    display: flex;
    background: #51cebc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.message3{
    display: flex;
    background: #FE9F28;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.menu2under{
    display: flex;
    column-gap: 8px;
    margin-top: 21px;
}
.microsurv{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E7EAEB;
    color: #61757E;
    width: 228px;
    height: 23px;
    border-radius: 4px;
    font-size: 12px;
}
.videoques{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #61757E;
    background: #E7EAEB;
    width: 147px;
    height: 23px;
    font-size: 12px;
    border-radius: 4px;
}
.conctest{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 23px;
    background: #FE9F28;
    font-size: 12px;
    border-radius: 4px;
}
.menu2all1{
    display: flex;
    column-gap: 90px;
}
.menu3{
    display: flex;
    flex-direction: column;
    margin-top: 136px;
    row-gap: 116px;
    background: #F2EDE7;
    width: 1300px;
    height: 960px;
    justify-content: flex-start;
}
.menu3head{
    margin-top: 96px;
    margin-left: 122px;
}
.features{
    color: #375361;
    font-size: 14px;
}
.how_sprig{
    font-size: 60px;
    width: 994px;
}
.menu3down{
    display: flex;
    column-gap: 131px;
    margin-left: 122px;
}
.menu3right{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.line{
    background: #C9316F;
    width: 489px;
    height: 2px;
}
.targetting{
    display: flex;
    column-gap: 263px;
    justify-content: space-between;
}
.cont_target{
    font-size: 24px;
}
.target_users{
    color: #375361;
    font-size: 17px;
    width: 493px;
}
.targ_right{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    column-gap: 8px;
}
.line2{
    width: 489px;
    height: 2px;
    background: #C3CACD;
}
.menu4{
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    margin-left: 148px;
    justify-content: space-between;
}
.menu4left{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
}
.integrat{
    color: #375361;
    font-size: 14px;
}
.Share{
    width: 569px;
    font-size: 34px;
}
.connect{
    color: #375361;
    font-size: 17px;
    width: 567px;
}
.menu5{
    display: flex;
    justify-content: space-between;
}
.menu5left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 50px;
    background: #F2EDE7;
    width: 462px;
    height: 505px;
    padding-left: 115px;
    padding-top: 80px;
}
.Case{
    color: #375361;
    font-size: 14px;
}
.Trusted1{
    font-size: 24px;
    width: 314px;
    height: 34px;
}
.helps_product{
    font-size: 17px;
    width: 325px;
    height: 34px;
}
.Read_more{
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    width: 144px;
    height: 44px;
    cursor: pointer;
}
.menu5right{
    background: #F9C600;
    width: 794px;
    height: 584px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 115px;
    row-gap: 81px;
}
.menu5top{
    font-size: 34px;
    width: 557px;
    height: 240px;
}
.menu5down{
    display: flex;
    justify-content: flex-start;
}
.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    align-items: flex-start;
    padding-left: 24px;
}
.text_photo{
    font-size: 16px;
}
.down{
    display: flex;
    flex-direction: column;
    background: #0B2330;
    width: 1300px;
    margin-top: 60px;
}
.downtop{
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    justify-content: center;
    align-items: center;
    padding-top: 53px;
}
.Launch{
    font-size: 42px;
    width: 590px;
    text-align: center;
}
.create{
    width: 642px;
    text-align: center;
    font-size: 17px;
}
.down2{
    height: 678px;
    display: flex;
    flex-direction: column;
}
.linedown{
    height: 1px;
    width: 1200px;
    background: #375361;
    margin: 42px;
}
.downcenter{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 100px;
    padding-left: 32px;
}
.product{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}
.prod1{
    color: #F9C600;
}
.underprod{
    color: white;
}
.underprod2{
    color: white;
    width: 126px;
}
.path{
    display: flex;
    justify-content: flex-start;
    column-gap: 498px;
    padding-left: 268px;
    margin-top:68px;
    color: white;
}
.logo{
    display: flex;
    column-gap: 24px;
}